/**
background: #20A9E5;
background: #36B1E7;
background: #4EA0FF;
background: #808080;
background: #B1E5F2;
background: #FFFF00;
background-color: #B1E5F2;
style="background-color: #B1E5F2;"
**/

*{
    margin: 0;
}

header{
    height: 180px;
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
}

.logo-img {
    height: 55px;
    width: auto;
    padding-top: 120px;
    padding-left: 15px;
}

#color-Booleaner {
    color: #36B1E7;    
}

.color-grey {
    color: #808080;
}

.little-size {
    font-size: 10px;
}

.tim-image {
    height: auto;
    margin-top: 20px;;
}

.margin-paragraph {
    margin-top: 20px;
}

.white {
    color: white;
}

thead {
    background-color: #20A9E5;
    font
}

thead th:last-child {
    width: 50%;
}
